{% extends 'layout/base.html' %}

{% load staticfiles %}

{% load socialaccount %}
{% providers_media_js %}

{% block css %}
    <link href="{% static 'frontend/css/gag.min.css' %}" media="screen,projection" rel="stylesheet" type="text/css">    
{% endblock %}

{% block content_top %}
{% endblock %}

{% block content_left %}
    <div class="badge-page page">
        <section id="signup">
            <h2>Signup</h2>
            <p class="lead">Connect with a social network</p>
            <div class="social-signup">
                <!--<a class="btn-connect-option facebook badge-facebook-connect" href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook</a>-->

                <a class="btn-connect-option facebook badge-facebook-connect" href="{% provider_login_url "facebook" method="oauth2" %}">Facebook</a>

                <span class="badge-gplus-connect">
                    <a class="btn-connect-option google-plus" href="#">Google</a>
                </span> 
            </div>

            <form id="login-email" class="badge-login-form" action="" method="POST">
                {% csrf_token %}

                <p class="lead">Log in with your username </p>
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" value="{{ form.username.value|default_if_none:'' }}" autofocus="autofocus">
                    {% if form.username.errors %}
                        {{ form.username.errors }}
                    {% endif %}
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password1" value="{{ form.password1.value|default_if_none:'' }}">
                    {% if form.password1.errors %}
                        {{ form.password1.errors }}
                    {% endif %}
                </div>

                <div class="field">
                    <label>Re Password</label>
                    <input type="password" name="password2" value="">
                    {% if form.password2.errors %}
                        {{ form.password2.errors }}
                    {% endif %}
                </div>   

                <div class="btn-container">
                    <input class="btn left" type="submit" value="Sign up">
                    <a class="forgot-password" href="{% url 'users:login' %}">Login</a>                    
                </div>
            </form>
        </section>
    </div>
{% endblock %}

{% block content_right %}
{% endblock %}

{% block js %}
{% endblock %}
